@use "sass:color";

@use "@material/theme/styles";

@use "@material/theme/index" as theme;

@import "./mixins";

html {
  --monoFont: "Roboto Mono", monospace;
  --sansFont: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: theme.$background;
  color: theme.$on-surface;
  font-family: "Sofia Pro", sans-serif !important;
  font-size: calc(16px + (17 - 16) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.7em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: theme.$background;
}
body::-webkit-scrollbar-thumb {
  background-color: theme.$surface;
  border-radius: 6px;
  border: 3px solid theme.$background;
}

a {
  color: theme.$secondary;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

code {
  font-family: "Sofia Pro", sans-serif !important;
  font-size: calc(1em - 2px);
  background-color: theme.$secondary;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

.material-icons {
  vertical-align: text-bottom;
}

.vertical-center {
  display: flex;
  align-items: center;
}
.vertical-center .material-icons {
  vertical-align: initial !important;
}

.surface-lighter-bg {
  background-color: color.scale(theme.$surface, $lightness: +30%);
}
.surface-darker-bg {
  background-color: color.scale(theme.$surface, $lightness: -30%);
}

// @media (min-width: 400px) {
//   body {
//     font-size: 16px;
//   }
// }

.main {
  width: 100%;
  height: 100vh;
  .container {
    padding: 0px 100px;
    .content {
      display: flex;
      gap: 20px;
      height: 100vh;
      align-items: center;
      justify-content: center;
      .content-left {
        line-height: 24px;
        .title {
          color: white;
          line-height: 45px;
          font-weight: 700;
          font-size: 37px;
        }
        .desc {
          width: 268px;
          color: white;
          font-size: 16px;
          margin: 20px 0;
          padding-bottom: 18px;
          font-weight: 300;
        }
        .misi {
          padding-top: 25px;
          ul {
            padding: 0px 15px;
            margin: 2px;
          }
          .visi-title {
            font-weight: 700;
          }
        }
        .visi {
          padding-top: 25px;
          .visi-title {
            font-weight: 700;
          }
        }
      }
      .content-right {
        .main-card {
          width: 465px;
          letter-spacing: 0.9px;
          padding: 30px;
          background-color: #083a45;
          .content-login {
            .title {
              font-size: 24px;
              font-weight: 700;
            }
            .description {
              font-size: 14px;
              margin-top: 5px;
              cursor: default;
              margin-bottom: 15px;
              span.sub {
                color: #04b4cd;
                font-size: 14px;
                cursor: pointer;
              }
            }
            .forgot {
              cursor: pointer;
              color: #0496ac;
              padding: 6px 0;
              font-size: 12px;
              position: relative;
              bottom: 10px;
            }
            .checkbox {
              font-size: 14px;
              color: white;
              padding-bottom: 12px;
            }
            .submite {
              letter-spacing: 1px;
              font-size: 14px;
              color: #083a45 !important;
              background-color: #fff !important;
              cursor: pointer;
              border: 1px solid #0000;
              border-radius: 3px !important;
              padding: 0 12px;
              height: 50px !important;
              min-height: 50px !important;
              margin: 0 5px 20px 0 !important;
              width: 407px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
  // background: red;
  // normal styling code here

  @include respond(tablet) {
    .container {
      padding: 0px 20px;
      .content {
        display: flex;
        flex-direction: column;
        .content-left {
          visibility: hidden;
          position: absolute;
        }
        .content-right {
          .main-card {
            width: 465px;
            .content-login {
              .form {
                .submite {
                  width: 405px;
                }
              }
            }
          }
        }
      }
    }
    // background: green;
    // responsive code for tablet viewport i.e. 600px
  }

  @include respond(mobile) {
    .container {
      padding: 0px 20px;
      .content {
        display: flex;
        flex-direction: column;
        .content-left {
          visibility: hidden;
          position: absolute;
        }
        .content-right {
          .main-card {
            width: 341px;
            .content-login {
              .form {
                .submite {
                  width: 281px;
                }
              }
            }
          }
        }
      }
    }
    // background: red;
    // responsive code for mobile viewport i.e. 480px
  }
}
