@tailwind base;
@tailwind components;
@tailwind utilities;

.auth {
  .content {
    justify-content: center;
    gap: 100px;
    align-items: center;
    display: flex;
    height: 90vh;
    width: 100%;
    .static {
      line-height: 24px;
      .title {
        color: white;
        line-height: 45px;
        font-weight: 700;
        font-size: 37px;
      }
      .desc {
        width: 268px;
        color: white;
        font-size: 16px;
        margin: 20px 0;
        padding-bottom: 18px;
        font-weight: 300;
      }
      .misi {
        padding-top: 25px;
        ul {
          padding: 0px 15px;
          margin: 2px;
        }
        .visi-title {
          font-weight: 700;
        }
      }
      .visi {
        padding-top: 25px;
        .visi-title {
          font-weight: 700;
        }
      }
    }
  }
  .main-card {
    width: 465px;
    letter-spacing: 0.9px;
    padding: 30px;
    background-color: #083a45;
    .content-login {
      .title {
        font-size: 24px;
        font-weight: 700;
      }
      .description {
        font-size: 14px;
        margin-top: 5px;
        cursor: default;
        margin-bottom: 15px;
        span.sub {
          color: #04b4cd;
          font-size: 14px;
          cursor: pointer;
        }
      }
      .forgot {
        cursor: pointer;
        color: #0496ac;
        padding: 6px 0;
        font-size: 12px;
        position: relative;
        bottom: 10px;
      }
      .checkbox {
        font-size: 14px;
        color: white;
        padding-bottom: 12px;
      }
      .submite {
        letter-spacing: 1px;
        font-size: 14px;
        color: #083a45 !important;
        background-color: #fff !important;
        cursor: pointer;
        border: 1px solid #0000;
        border-radius: 3px !important;
        padding: 0 12px;
        height: 50px !important;
        min-height: 50px !important;
        margin: 0 5px 20px 0 !important;
        width: 407px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.main-profile {
  position: absolute;
  background-color: #083a45;
  width: 200px;
  border-radius: 3px;
  right: 10px;
  margin-top: 12px;
  .line {
    border-color: #04b4cd !important;
    opacity: 0.3 !important;
  }
}
.main-search {
  left: 0;
  z-index: 1;
  background: #1e293b;
}

//Title
.main-title {
  border-bottom: 1px solid #00363d;
  width: 100%;
  padding-bottom: 20px;
  span {
    font-style: normal;
    font-weight: 700;
    padding-top: 20px;
    font-size: 35px;
    line-height: 44px;
    padding-bottom: 20px;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px;
  }
}
